<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../John Smith Assets/App.css"> -->
    <link rel="stylesheet" href="project1.css">
    <title>Document</title>
</head>
<body>
    
    <div class="main-container">
        <!-- <div class="header">
            <div class="logo">
                <span>A</span>M
            </div>
            <div class="nav-items">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#qualification">qualification</a>
                <a href="#projects">Projects</a>
                <a href="#blogs">Blogs</a>
            </div>
        </div> -->

        <div class="main-body">
            <div class="heading">
                <p class="h1-heading">A.I Image Generation</p>
                <!-- <p class="hdesc">My Introduction</p> -->
            </div>
            <div class="content">
                <div class="left">
                    <div class="image">
                        <img src="../John Smith Assets/assets/work1.jpg" alt="">
                    </div>
                    <ul class="tech-list">
                        <p>Technologies used</p>
                        <div>
                            <img class="svg-icon" src="./project1-assests/react-svgrepo-com.svg" alt="" >
                            <img class="svg-icon" src="./project1-assests/nodejs-svgrepo-com.svg" alt="">
                            <img class="svg-icon" src="./project1-assests/openai-svgrepo-com.svg" alt="">
                        </div>
                    </ul>
                    <ul class="src-code">
                        <p>Source Code</p>
                        <li>
                            <a href="https://codesandbox.io/s/kind-forest-3w8cbb?file=/src/App.js" target="_blank">
                                <img class="svg-icon" src="./project1-assests/code-sandbox-svgrepo-com.svg" alt="">
                            </a>
                            <img class="svg-icon" src="./project1-assests/footer-github2.svg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="demo">
                        <p class="h2-heading">~ Project Info</p>
                        <a href="https://csb-3w8cbb.netlify.app/" target="_blank"><button class="demo-btn">Try Demo <img src="./project1-assests/arrow-up-right-svgrepo-com.svg" alt=""></button></a>
                    </div>
                    <div class="info">
                        <p>
                            1. <span>AI Image Generation:</span> AI image generation is an artificial intelligence technology that can generate realistic images
                            from scratch.
                        </p>
                        <p>
                            2. <span>OpenAI’s DAAL-E API:</span> OpenAI’s DAAL-E (Deconvolutional Autoencoder for Latent Embedding) API is a powerful tool for AI
                            image generation.
                        </p>

                        <p>
                            3. <span>Benefits of Using OpenAI’s DAAL-E API:</span> OpenAI’s DAAL-E API has several benefits over traditional image generation
                            techniques.
                        </p>
                        
                        <p>
                            4. <span>Steps for Project:</span> To complete the project, the following steps should be followed:
                            
                            <ul>
                                <li>- Gather a dataset of images</li>
                                <li>- Train the API on the dataset</li>
                                <li>- Use the API to generate new images</li>
                                <li>- Evaluate the results and adjust parameters if necessary</li>
                                <li>- Publish the results</li>
                            </ul>
                        </p>
                        
                        <p>
                            5. <span>Conclusion:</span> AI image generation is an exciting new technology that has the potential to revolutionize the way we
                            create images. OpenAI’s DAAL-E API is a powerful tool for AI image generation, and can be used to generate high-quality
                            images from scratch.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>



</body>
</html>